.home-container {
    background-color: #1B1B1B;
    width: 100%;
    height: calc(100% - 6rem );
    position: absolute;
    top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-container .home-text {
    color: #FFFFFF;
    margin: 15vw;
    font-size: 3.5vh;
    max-width: 60vw;
    text-align: center;
    
}

.home-container .home-text span{
    color: #9DFF00;
}