.modal-img-section {
  width: 100%;
  height: 100%;
  display: flex;
}

.modal-img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.modal-90w {
  min-width: 90vw;
}