.menu-list {
    position: absolute;
    height: calc(100% - 8.5rem);
    width: calc(100% - 1.5rem) ;
    background-color: #1B1B1B;
    padding: 0.5rem 0rem 2rem 1.5rem;
    margin: 0;
    list-style: none;
    z-index: 1000;
    animation: menuSlideIn 1s ease-in-out forwards;
    
}

@keyframes menuSlideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.menu-list li {
    margin: 1rem;
    font-size: 25px;
    color: #FFFF;
    width:fit-content;
}
.menu-list li a {
    color: #FFFF;
    text-decoration: none;
}

.menu-list li:hover{
    color: #9DFF00;
    text-decoration:underline;
}
.menu-list li a:hover{
    color: #9DFF00;
}
