* {
  font-family: 'Inter';
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link, 
.more-link,
.more-info-btn,
.ticket-btn {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.02em;
  color: white;
}

p, span {
  letter-spacing: 0em;
}

body {
  background-color: black;
}

#root {
  min-height: 100vh;
}

/* UTILITY CLASSES */
.link {
  background-color: black;
  text-align: center;
  text-decoration: none;
  color: white !important;
  width: fit-content;
}

.more-link {
  background-color: black;
  text-decoration: none;
  color: white !important;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.more-info-btn {
  background-color: black;
  text-decoration: none;
  color: white !important;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 79px;
}


.link:hover, .more-link:hover, .more-info-btn:hover {
  opacity: 0.7;
}

.anchor-link {
  color: rgba(255, 0, 0, 0.89);
}

.anchor-link:hover {
  opacity: 0.9;
}

.text-justify {
  text-align: justify !important;
}

.text-height-truncate {

  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
  .text-height-truncate {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

@media only screen and (min-width: 992px) {
  .text-height-truncate {
    -webkit-line-clamp: 7;
    line-clamp: 7;
  }
}

.ticket-btn {
  font-size: 1.5rem;
  width: 600px;
  max-width: 100%;
  background-color: black;
  color: white;
  border-color: white;
  text-decoration: none;
}

.ticket-btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.ticket-btn:disabled {
  background-color: black;
  border-color: white;
  color: white;
}

.back-to-link {
  text-decoration: none;
  color: white
}

.back-to-link:hover {
  opacity: 0.7;
}

/* SINGLE EVENT PAGE */
.event-cover {
  width: 500px;
  max-width: 80vw;
}

/* SINGLE RELEASE PAGE */
.release-cover {
  width: 535px;
  aspect-ratio: 1;
  object-fit: cover;
}

.release-player-cover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.release-card-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}

.int-logo-banner {
  width: 29rem;
  max-width: 100vw;
  object-fit: cover;
}

/* NOT FOUND PAGE */
.not-found-container {
  min-height: 68vh;
}

.radio-container {
  margin-top: -24px;
  height: 100vw ;
  background-size: cover;
}

.logo-img {
    transition: transform 0.8s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
}

.logo-img:hover {
    transform: rotate(360deg);

}

.nav-logo-img {
  position: relative;
  overflow: hidden;
}